

body{
    font: normal 15pt arial;
    background: rgb(0, 225, 255);
}

header{
    text-align: center;
    color: white;
}

section{
    width: 500px;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.438);
}